<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label>Automatic status emails</label>
    <label lang="de">Automatische Status E-Mails</label>
    <version>1.5.3</version>
    <copyright>(c) dreipunktnull GmbH</copyright>
    <link>https://dreipunktnull.com</link>
    <author>Björn Fromme, dreipunktnull GmbH</author>
    <compatibility minVersion="5.2.0" />
    <license>proprietary</license>
    <description>Automatic sending of notification emails to customers on changes in order- and/or payment status</description>
    <description lang="de">Automatischer Versand von E-Mails bei Änderung des Bestell- oder Zahlungsstatus.</description>
    <changelog version="1.0.0">
        <changes>Initial plugin release</changes>
        <changes lang="de">Erster Plugin Release</changes>
    </changelog>
    <changelog version="1.1.0">
        <changes>Notify backend user about automatically sent email for manual status changes</changes>
        <changes lang="de">Benachrichtigung über automatisch versendete E-Mail anzeigen bei manuellem Statuswechsel</changes>
    </changelog>
    <changelog version="1.1.1">
        <changes>Minimum version constraint for Shopware lowered to 5.3</changes>
        <changes lang="de">Shopware Mindestanforderung auf Version 5.3 reduziert</changes>
    </changelog>
    <changelog version="1.1.2">
        <changes>Minimum version constraint for Shopware lowered to 5.2</changes>
        <changes lang="de">Shopware Mindestanforderung auf Version 5.2 reduziert</changes>
    </changelog>
    <changelog version="1.1.3">
        <changes>Fixes an error raised by opening order documents in the backend</changes>
        <changes lang="de">Behebt einen Fehler, der beim Öffnen von PDF Dokumenten zu einer Bestellung im Backend auftritt</changes>
    </changelog>
    <changelog version="1.1.4">
        <changes>Properly extend the ExtJS model</changes>
        <changes lang="de">Korrektes Erweitern des ExtJS Models</changes>
    </changelog>
    <changelog version="1.2.0">
        <changes>New configuration option for email sending on manual status changes</changes>
        <changes lang="de">Neue Konfigurationsmöglichkeit zum Versand bei manuellem Statuswechsel</changes>
    </changelog>
    <changelog version="1.2.1">
        <changes>Adds message about missing email template</changes>
        <changes lang="de">Meldung bei fehlendem E-Mail Template hinzugefügt</changes>
    </changelog>
    <changelog version="1.2.2">
        <changes>Removes inconsistently working feature for email sending on manual status changes</changes>
        <changes lang="de">Konfigurationsmöglichkeit zum Versand bei manuellem Statuswechsel wegen instabiler Funktionalität entfernt</changes>
    </changelog>
    <changelog version="1.2.3">
        <changes>Fixes an issue that would prevent order status changes being stored in case email could not be sent</changes>
        <changes lang="de">Behebt ein Problem, das die Speicherung von Statusänderungen im Falle von Fehlern beim E-Mail Versand verhindert</changes>
    </changelog>
    <changelog version="1.2.4">
        <changes>Considers subshop configuration</changes>
        <changes lang="de">Berücksichtigt die Konfiguration von Subshops</changes>
    </changelog>
    <changelog version="1.2.5">
        <changes>Adds config option to enable/disable email sending per shop</changes>
        <changes lang="de">Konfigurationsmöglichkeit zur De-/Aktivierung des E-Mail Versands je Shop hinzugefügt</changes>
    </changelog>
    <changelog version="1.3.0">
        <changes>Adds optional internal comments about sent emails</changes>
        <changes lang="de">Optionale interne Kommentare zu versendeten E-Mails hinzugefügt</changes>
    </changelog>
    <changelog version="1.4.0">
        <changes>Adds config option to select customer groups to receive emails</changes>
        <changes lang="de">Konfigurationsmöglichkeit zur Auswahl von Kundengruppen für den E-Mail Versand hinzugefügt</changes>
    </changelog>
    <changelog version="1.4.1">
        <changes>Fixes an issue with Shopware versions lower than 5.5</changes>
        <changes lang="de">Behebt ein Problem mit Shopware Versionen älter als 5.5</changes>
    </changelog>
    <changelog version="1.4.2">
        <changes>Fixes a regression in 1.4.1</changes>
        <changes lang="de">Behebt eine Regression in 1.4.1</changes>
    </changelog>
    <changelog version="1.5.0">
        <changes>New configuration option for status that should trigger email sending only in combination with a shipment tracking code</changes>
        <changes lang="de">Neue Konfigurationsmöglichkeit zur Auswahl von Status, die den E-Mail Versand nur in Kombination mit einem Tracking Code auslösen</changes>
    </changelog>
    <changelog version="1.5.1">
        <changes>Fixes a regression in 1.5.0</changes>
        <changes lang="de">Behebt eine Regression in 1.5.0</changes>
    </changelog>
    <changelog version="1.5.2">
        <changes>Fixes an issue that could cause duplicate sending of emails in connection with tracking codes</changes>
        <changes lang="de">Behebt ein Problem, das den mehrfachem Versand von E-Mails im Zusammenhang mit Tracking Codes verursachen kann</changes>
    </changelog>
    <changelog version="1.5.3">
        <changes>Fixes an issue with incorrectly added internal comments and opening of feedback modal in backend</changes>
        <changes lang="de">Behebt ein Problem mit fälschlicherweise gesetzten internen Kommentaren und dem Öffnen des Feedback Modals im Backend</changes>
    </changelog>
</plugin>
