<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label>Automatic status emails</label>
    <label lang="de">Automatische Status E-Mails</label>
    <version>1.2.5</version>
    <copyright>(c) 3.0</copyright>
    <link>https://dreipunktnull.com</link>
    <author>Björn Fromme, 3.0</author>
    <compatibility minVersion="5.2.0" />
    <changelog version="1.0.0">
        <changes>Initial plugin release</changes>
        <changes lang="de">Erster Plugin Release</changes>
    </changelog>
    <changelog version="1.1.0">
        <changes>Notify backend user about automatically sent email for manual status changes</changes>
        <changes lang="de">Benachrichtigung über automatisch versendete E-Mail anzeigen bei manuellem Statuswechsel</changes>
    </changelog>
    <changelog version="1.1.1">
        <changes>Minimum version constraint for Shopware lowered to 5.3</changes>
        <changes lang="de">Shopware Mindestanforderung auf Version 5.3 reduziert</changes>
    </changelog>
    <changelog version="1.1.2">
        <changes>Minimum version constraint for Shopware lowered to 5.2</changes>
        <changes lang="de">Shopware Mindestanforderung auf Version 5.2 reduziert</changes>
    </changelog>
    <changelog version="1.1.3">
        <changes>Fixes an error raised by opening order documents in the backend</changes>
        <changes lang="de">Behebt einen Fehler, der beim Öffnen von PDF Dokumenten zu einer Bestellung im Backend auftritt</changes>
    </changelog>
    <changelog version="1.1.4">
        <changes>Properly extend the ExtJS model</changes>
        <changes lang="de">Korrektes Erweitern des ExtJS Models</changes>
    </changelog>
    <changelog version="1.2.0">
        <changes>New configuration option for email sending on manual status changes</changes>
        <changes lang="de">Neue Konfigurationsmöglichkeit zum Versand bei manuellem Statuswechsel</changes>
    </changelog>
    <changelog version="1.2.1">
        <changes>Adds message about missing email template</changes>
        <changes lang="de">Meldung bei fehlendem E-Mail Template hinzugefügt</changes>
    </changelog>
    <changelog version="1.2.2">
        <changes>Removes inconsistently working feature for email sending on manual status changes</changes>
        <changes lang="de">Konfigurationsmöglichkeit zum Versand bei manuellem Statuswechsel wegen instabiler Funktionalität entfernt</changes>
    </changelog>
    <changelog version="1.2.3">
        <changes>Fixes an issue that would prevent order status changes being stored in case email could not be sent</changes>
        <changes lang="de">Behebt ein Problem, das die Speicherung von Statusänderungen im Falle von Fehlern beim E-Mail Versand verhindert</changes>
    </changelog>
    <changelog version="1.2.4">
        <changes>Considers subshop configuration</changes>
        <changes lang="de">Berücksichtigt die Konfiguration von Subshops</changes>
    </changelog>
    <changelog version="1.2.5">
        <changes>Adds config option to enable/disable email sending per shop</changes>
        <changes lang="de">Config Option zur De-/Aktivierung des E-Mail Versands je Shop hinzugefügt</changes>
    </changelog>
</plugin>
