<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">

    <elements>
        <element type="boolean" scope="shop">
            <name>dpnEnabled</name>
            <label>Enable auto status emails</label>
            <label lang="de">Automatische Status E-Mails aktivieren</label>
            <value>true</value>
        </element>
        <element type="boolean" scope="shop">
            <name>dpnCommentEnabled</name>
            <label>Enable comment</label>
            <label lang="de">Kommentar aktivieren</label>
            <value>false</value>
            <description>Add internal comments to orders for automatically sent emails</description>
            <description lang="de">Internen Kommentar zu Bestellungen für versandte E-Mails hinzufügen</description>
        </element>
        <element type="combo" scope="shop">
            <name>dpnOrderStatus</name>
            <label>Order Status</label>
            <label lang="de">Bestellstatus</label>
            <description>Order status to send emails for</description>
            <description lang="de">Bestellstatus, bei denen E-Mails versendet werden sollen</description>
            <store>Shopware.store.OrderStatus</store>
            <options>
                <valueField>id</valueField>
                <displayField>description</displayField>
                <multiSelect>true</multiSelect>
            </options>
        </element>
        <element type="combo" scope="shop">
            <name>dpnPaymentStatus</name>
            <label>Payment Status</label>
            <label lang="de">Zahlungsstatus</label>
            <description>Payment status to send emails for</description>
            <description lang="de">Zahlungsstatus, bei denen E-Mails versendet werden sollen</description>
            <store>Shopware.store.PaymentStatus</store>
            <options>
                <valueField>id</valueField>
                <displayField>description</displayField>
                <multiSelect>true</multiSelect>
            </options>
        </element>
        <element type="combo" scope="shop">
            <name>dpnCustomerGroups</name>
            <label>Customer Groups</label>
            <label lang="de">Kundengruppen</label>
            <description>Customer groups to send emails to. No selection includes all groups.</description>
            <description lang="de">Kundengruppen, an die E-Mails versendet werden sollen. Wenn keine Auswahl getroffen wird, werden alle Gruppen eingeschlossen.</description>
            <store>Shopware.store.CustomerGroup</store>
            <options>
                <valueField>id</valueField>
                <displayField>name</displayField>
                <multiSelect>true</multiSelect>
            </options>
        </element>
    </elements>

</config>
